# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/oop_GershA
/oop_GershA/x64/Debug/oop_GershA.tlog
/x64/Debug
/oop_GershA/x64/Debug
/oop_GershA.sln
/oop_GershA.vcxproj
/oop_GershA.vcxproj.filters
/oop_GershA.vcxproj.user
/1 1.txt
/1 2.txt
/17
/1709
/2409
/1
